.app {
  display: flex;
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  padding: 20px;
  background: #f4f7f9;
  margin-left: 250px; 
}